In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Global_Superstore2.csv', encoding = "ISO-8859-1")

# Entfernen aller Attribute, die bei vorangegangener Exploration entfernt wurden

In [3]:
# del df["State"]

In [4]:

# del df["City"]

In [5]:
# del df["State"]
# del df["City"]
# del df["Postal Code"]

In [6]:
# del df["State"]
# del df["City"]
# del df["Postal Code"]
# del df["Product ID"]

In [7]:
# del df["State"]
# del df["City"]
# del df["Postal Code"]
# del df["Product ID"]
# del df["Product Name"]

In [8]:
# del df["State"]
# del df["City"]
# del df["Postal Code"]
# del df["Product ID"]
# del df["Product Name"]
# del df["Order Priority"]

In [9]:
# del df["State"]
# del df["City"]
# del df["Postal Code"]
# del df["Product ID"]
# del df["Product Name"]
# del df["Order Priority"]
# del df["Order ID"]

In [10]:
# del df["State"]
# del df["City"]
# del df["Postal Code"]
# del df["Product ID"]
# del df["Product Name"]
# del df["Order Priority"]
# del df["Order ID"]
# del df["Ship Date"]

In [11]:
# del df["State"]
# del df["City"]
# del df["Postal Code"]
# del df["Product ID"]
# del df["Product Name"]
# del df["Order Priority"]
# del df["Order ID"]
# del df["Ship Date"]
# del df["Order Date"]

In [12]:
# del df["State"]
# del df["City"]
# del df["Postal Code"]
# del df["Product ID"]
# del df["Product Name"]
# del df["Order Priority"]
# del df["Order ID"]
# del df["Ship Date"]
# del df["Order Date"]
# del df["Ship Mode"]

In [13]:
# del df["State"]
# del df["City"]
# del df["Postal Code"]
# del df["Product ID"]
# del df["Product Name"]
# del df["Order Priority"]
# del df["Order ID"]
# del df["Ship Date"]
# del df["Order Date"]
# del df["Ship Mode"]
# del df["Customer ID"]

In [14]:
# del df["State"]
# del df["City"]
# del df["Postal Code"]
# del df["Product ID"]
# del df["Product Name"]
# del df["Order Priority"]
# del df["Order ID"]
# del df["Ship Date"]
# del df["Order Date"]
# del df["Ship Mode"]
# del df["Customer ID"]
# del df["Customer Name"]

In [15]:
del df["State"]
del df["City"]
del df["Postal Code"]
del df["Product ID"]
del df["Product Name"]
del df["Order Priority"]
del df["Order ID"]
del df["Ship Date"]
del df["Order Date"]
del df["Ship Mode"]
del df["Customer ID"]
del df["Customer Name"]
del df["Segment"]

# Bereinigtes DataFrame:

In [16]:
df

,Row ID,Country,Market,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit,Shipping Cost
0,32298,United States,US,East,Technology,Accessories,2309.650,7,0.0,762.1845,933.57
1,26341,Australia,APAC,Oceania,Furniture,Chairs,3709.395,9,0.1,-288.7650,923.63
2,25330,Australia,APAC,Oceania,Technology,Phones,5175.171,9,0.1,919.9710,915.49
3,13524,Germany,EU,Central,Technology,Phones,2892.510,5,0.1,-96.5400,910.16
4,47221,Senegal,Africa,Africa,Technology,Copiers,2832.960,8,0.0,311.5200,903.04
...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,Japan,APAC,North Asia,Office Supplies,Fasteners,65.100,5,0.0,4.5000,0.01
51286,35398,United States,US,Central,Office Supplies,Appliances,0.444,1,0.8,-1.1100,0.01
51287,40470,United States,US,West,Office Supplies,Envelopes,22.920,3,0.0,11.2308,0.01
51288,9596,Brazil,LATAM,South,Office Supplies,Binders,13.440,2,0.0,2.4000,0.00
51289,6147,Nicaragua,LATAM,Central,Office Supplies,Paper,61.380,3,0.0,1.8000,0.00

# Mit diesem DataFrame kann jetzt der Algorithmus/das Modell aufgesetzt werden